* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    background-color: teal;
    font-family: 'Trebuchet MS', sans-serif;
}

.card {
    margin: auto;
    position: relative;
    top: 4vh;
    background-color: #fff;
    width: 30vw;    
    border-radius: 20px;
    padding: 20px;
}

.information {
    display: flex;
    margin-bottom: 20px;
}


.profile-picture img {
    width: 130px;
    height: 135px;
    border-radius: 30px;
}

.peronal-information {
    margin-left: 25px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;  
}

.peronal-information div {
    margin-bottom: 10px;
}

.name {
    font-size: 35px;
}

.nationality {
    color: gray;
    font-size: 25px;
}

.job {
    color: rgb(1, 62, 185);
    background-color: rgba(1, 62, 185,0.2);
    font-size: 20px;
    display: flex;
    width: 93px;
    height: 28px;
    border-radius: 10px;
    padding: 0px 11px;
    align-items: center;
}

.date-information {
    background-color: rgb(195, 249, 253);
    display: flex;
    flex-flow: column wrap;
    padding: 30px;
    row-gap: 40px;
    justify-content: space-around;
    border-radius: 20px;
    margin: 30px 0px 70px;
}
.date-clock {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.date-clock-action {
    font-size: 25px;
    background-repeat: no-repeat;
    background-position: 0px -2px;
    padding-left: 35px;
    background-size: 32px 32px;
}

.date {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAoElEQVRIid2U0Q2DMAxEnyPGIKug/sEkDNUuAn9VV8keuD8pSiKEFAJFcH+2rIvvTg7cFtKMKs2opXNm37UWFoiqx9DJJC+g3sjn1GjPuxt+jUiBTPIsIAewnmNGlQ4A6KcVNsBnYcPe4RmkCsJNdsE5CgoziHC4gnMsWsOSDWuWXt+i6z+QHXLujfxdgQNs4V/kwiJSoEb7dCCX3HPcCF9f8i4ht4j9twAAAABJRU5ErkJggg==');
}
.clock {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA10lEQVRIie2UTQqCQBiGn088QxDkvkUnCJKoQOkgbbtPHaAr6CLoB7pA3cBdXcH8WqSBUuiYQVDPboaX95lvGAb+lCC51TDwJZEl0KnZF6mlMzZ+kG1YOVsiizfKAZy044FdDADozhNqIG6oWUeG9SLbGEYCcUNNT/kZQR1+VdAPW58SnADEZl1VYiRQvY6AI9ATmy2DoN2ogP30ojET7pN0RWTVrADg4J01ZgxsNdF5Wbz4VVSXwLBK9EufqQHFK4oAx/S/edLxIDeBWjorBkzL044/1bkBm/o5VwU95l0AAAAASUVORK5CYII=');
}

.day {
    font-size: 35px;
}

.day, .date-clock span {
    color: rgb(1, 62, 185);
}

.attend-button {
    color: #fff;
    height: 30px;
    width: inherit;
    font-size: 20px;
    background-color: rgb(1, 62, 185);
    border-radius: 10px;
}

.footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.footer button {
    width: 180px;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(1, 62, 185);
    color: #fff;
}

.session-button {
    color: rgb(1, 62, 185) !important;
    background-color: rgba(241, 240, 240, 0.979) !important;
}

button {
    cursor: pointer;
}